body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
}

.eliminar {
  background-color: crimson;
}

#jokeList {
  list-style: none;
  width: 90%;
  padding: 0px;
}

.chiste {
  border: 1px solid #E2E2E2;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
}

#clear {
  background-color: crimson;
  position: fixed;
  bottom: 40px;
  right: 30px;
}

.eliminar:hover, #clear:hover {
  background-color: rgb(154, 0, 31);
}


